label{
	font-size: 20px;
	font-weight: bold;
}
p{
	font-weight: bold;
	text-align: center;
}
#header{
	text-align: center;
	background-color: grey;
	font-size: 40px;
	font-weight: bold;

}
#instrukcja{
	padding: 40px;
	font-size: 20px;
	font-weight: bold;
}
.col-sm-1{
	background-color: light-grey;

}
.footer{
	background-color: grey;
	width: 100%;
	text-align: left;
}
.noweInputyNieWidoczne{
	display: none;
}
#container{
	background-color: grey;
	font-family: 'Balsamiq Sans', cursive;
}
 .border {
    display: inline-block;
}
